/* LatestBlogContainer */
.latestBlogContainer {
  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.latestBlogContainer .latestText {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  color: var(--primaryTextColor);
}

.latestBlogContainer .blogContainer .blogCard .blogTitle {
  font-size: 1rem;
  font-weight: 100;
  margin: 5px 0;
  color: var(--textColor);
}

.latestBlogContainer .blogContainer .blogCard .blogDate {
  margin: 0 0 15px 0;
  font-size: 0.8rem;
  color: black;
}

.latestBlogContainer .blogContainer .blogCard .blogDescription {
  font-weight: lighter;
  letter-spacing: 1px;
  word-spacing: 1.2px;
  font-size: 0.9rem;
  margin: 5px 0;
}

.latestBlogContainer .blogContainer .blogCard .blogLinksContainer {
  margin: 20px 0 30px 0;
}
.latestBlogContainer .blogContainer .blogCard .blogLinksContainer a {
  color: var(--textColor);
  font-size: 0.9rem;
}

.latestBlogContainer .blogContainer .blogCard .imageSection {
  width: 100%;
  height: clamp(5rem, 50vw, 40rem);
}

.latestBlogContainer .blogContainer .blogCard .blogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#loadButton {
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  color: var(--textColor);
  border: 1px solid var(--textColor);
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 2px;
}

#loadButton:hover {
  background-color: var(--textColor);
  color: white;
  cursor: pointer;
}
